*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "navbar navbar navbar navbar"
    "video-container video-container video-container suggestions"
    "comments comments comments suggestions"
    ;
    gap: 10px;
}

.navbar{
    grid-area: navbar;
    background-color: lightgrey;
    height: 50px;
}

.video-container{
    grid-area: video-container;
    background-color: black;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.suggestions{
    grid-area: suggestions;
    background-color: lightgreen;
}

.comments{
    grid-area: comments;
    background-color: coral;
    height: 500px;
}

#video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
}

.controls .control-buttons{
    display: flex;
    gap: 10px;
}

.controls .control-buttons button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.controls .control-buttons #play-pause{
    font-size: 30px;
}

.controls .video-timer{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 12px;
}

.controls #separator{
    margin: 0 5px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.playback-line{
    position: relative;
    min-width: 100px;
    flex: 1;
    height: 8px;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20px;
}

.progress-bar{
    height: 100%;
    width: 0;
    background-color: red;
    transition: width 0.1s linear;
    border-radius: 5px;
    position: relative;
}

.progress-bar::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    transition: right 0.1s linear;
}

.controls .fa-volume-up,
.controls .fa-solid {
    padding: 5px;
    color: white;
}

.controls input[type="range"]{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button:focus,
input:focus{
    outline: 2px solid red;
    outline-offset: 2px;
}

.right{
    display: flex;
    gap: 10px;
    align-items: center;
}

.volume-container{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#volume{
    -webkit-appearance: none;
    appearance: none;
    flex: 1;
    max-width: 100px;
    height: 8px;
    background: linear-gradient(to right, red 0%, red var(--value), lightgray var(--value) , lightgray 100%);
    border-radius: 5px;
    outline: none;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
}

#volume::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

#volume::-ms-thumb {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
}

#volume::-webkit-slider-runnable-track{
    background: transparent;
}

#volume::-moz-range-progress{
    background: red;
    height: 8px;
    border-radius: 5px;
}

#volume::-moz-range-track{
    background: transparent;
}

#volume::-ms-track{
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#mute{
    cursor: pointer;
}

.fullscreen-btn{
    cursor: pointer;
}